<%= javascript_include_tag 'license_attributes' %>

<!--[form:license]-->
<p><label for="license_unique_name">Unique Name</label><br/>
<%= form.text_field :unique_name, :size => 20 %></p>

<p><label for="license_title">Title</label><br/>
<%= form.text_field :title, :size => 70 %></p>

<p><label for="license_url">URL</label><br/>
<%= form.text_field :url, :size => 70 %></p>

<br/>
<%= render :partial => "rails3_acts_as_licensable/license_attributes/attributes_form", :locals => { :edit => true, :license => @license } %>

<h2><label for="license_description">Description</label></h2>
<%= text_area_tag :description, "", :rows => 40, :cols => 120 %>
<br/><br/>

<script type="text/javascript">
  tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced'
  });
</script>

<!--[eoform:license]-->
