<% unless collection.empty? %>

	<table class="alt_table">
		<% odd_row = false -%> 
		<% for license in collection %>
		  	<tr class="<%= (odd_row = !odd_row) ? "odd_row" : "even_row" %>">
                            <td style="text-align: right;">
                              <%= image_tag ( license_icon_url(license.url,@license_config['license_icon_size']) ) %>
                            </td>
			    <td style="text-align: left;">
			    	<p>
				    <%= link_to h(t("licenses.#{license.unique_name}.title")), license_url(license) %>
				</p>
				
				<p style="font-size: 85%;">
				  <b><%= link_to h(license.url), license.url %></b>
				</p>
			  	
			     </td>
			    <td>
		      	      <%= link_to t("r3_aal.view").capitalize, license_path(license) %>
		    	    </td>
		  	</tr>
		<% end %>
	</table>
<% end %>
