<% if license %>
                <p style="text-align: center;">
                  <b><big><%= license_icon_link(license) %></big></b>
                  <br/>
                  <%= link_to h(license.url), license.url %>
                </p>
                <% license_attribs = license.license_attributes %>
                <% if license_attribs.size > 0 %>
                <p><b><%= t("attribute").pluralize.capitalize %>:&nbsp;</b>
                  <% license_attribs.each do | attrib | %>
				    <%= h(t("licenses_options.#{attrib.unique_name}.title")) %><% if attrib != license_attribs.last %>,<% else %>.<% end %>
				  <% end %>
				</p>
				<% end %>
		        <br/>
<% else %>
  <p style="text-align: center;">
    <%= t "no_attributes" %> 
  </p>
<% end %>
