<h1>
  <%= t("rails3_acts_as_licensable.license").capitalize %>:
  <%= @license.title %>
</h1>

<div>
  <p>
    <b><%= t("rails3_acts_as_licensable.title").capitalize %>:</b>
    <%= @license.title %>
  </p>
  
  <p>
    <b><%= t("rails3_acts_as_licensable.description").capitalize %>:</b>
    <%= @license.description %>
  </p>
  
  <p>
    <b><%= t("rails3_acts_as_licensable.url").upcase %>:</b>
    <%= link_to @license.url, @license.url_with_locale, :class => "external" %>
  </p>
  
  <p>
    <b><%= t("rails3_acts_as_licensable.icon").capitalize %>:</b>
    <%= license_icon_tag(@license) %>
  </p>
  
  <p>
    <b><%= t("rails3_acts_as_licensable.created_at").capitalize %>:</b>
    <%= @license.created_at %>
  </p>
  
  <p>
    <b><%= t("rails3_acts_as_licensable.updated_at").capitalize %>:</b>
    <%= @license.updated_at %>
  </p>
  
  <h2>
    <%= t("rails3_acts_as_licensable.attribute").capitalize.pluralize %> (<%= @license.license_attributes.count %>):
  </h2>
  
  <%- if @license.license_attributes.any? -%>
    <ul>
      <% @license.license_attributes.each do |license_attribute| %>
        <li>
          <b>
            <%= link_to license_attribute.title, license_attribute.uri, :class => "external" %>
          </b>
          -
          <%= license_attribute.description %>
        </li>
      <% end %>
    </ul>
  <%- else -%>
    <p>
      <%= t("rails3_acts_as_licensable.no_attributes").capitalize %>
    </p>
  <%- end -%> 
</div>