<%  h t "licenses.#{@license.unique_name}.title" -%>

<h1><%= t("r3_aal.license").capitalize %>: <%= h  t "licenses.#{@license.unique_name}.title" %></h1>

<div>
  <p><b><%= t("r3_aal.title").capitalize %>: </b><%=h t "licenses.#{@license.unique_name}.title" %></p>
  <p><b><%= t("r3_aal.description").capitalize %>: </b><%=h t "licenses.#{@license.unique_name}.description" %></p>
  <p><b><%= t("r3_aal.url").upcase %>: </b><%= link_to h(@license.url), @license.url+license_url_locale %></p>
  <p><b><%= t("r3_aal.created_at").capitalize %>: </b><%= @license.created_at %></p>
  <p><b><%= t("r3_aal.updated_at").capitalize %>: </b><%= @license.updated_at %></p>
  <h2><%= t("r3_aal.attribute").capitalize.pluralize %>: </h2>
  <% unless @license.license_attributes.empty? %>
  <ul>
     <%= render :partial => "rails3_acts_as_licensable/license_attributes/attribute", :collection => Rails3ActsAsLicensable::LicenseAttribute.find(:all, :conditions => ["license_id = ?", @license.id], :order => "license_option_id") %>
  </ul>
  <% else %>
  <p><%= t("r3_aal.no_attributes").capitalize %>: </p>
  <% end %> 
</div>


